<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blue.entity.mapper.BooksMapper">

    <insert id="insertBook">
        insert into ssmbuild.books(bookName, bookCounts, detail)
        values (#{bookName}, #{bookCounts}, #{detail});
    </insert>

    <delete id="deleteByBookId" parameterType="int">
        delete from ssmbuild.books
        <where>
            bookId = #{bookId}
        </where>
    </delete>

    <update id="updateOneBook" parameterType="books">
        update ssmbuild.books
        <set>
            bookName = #{bookName},bookCounts = #{bookCounts},detail = #{detail}
        </set>
        <where>
            bookId = #{bookId}
        </where>
    </update>

    <select id="selectOneBook" resultType="books" parameterType="int">
        select * from ssmbuild.books
        <where>
            bookId = #{bookId}
        </where>
    </select>

    <select id="selectAllBook" resultType="Books">
        select * from ssmbuild.books;
    </select>

    <select id="selectBookByName" resultType="Books" parameterType="string">
        select * from ssmbuild.books where bookName like #{bookName};
    </select>

</mapper>
